@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* banner style */
#banner{
    height: 624px;
    background-image: url("../images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

    
}

.banner-body{
    width: 998px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    padding-bottom:0px;
    
}

/* shared style */
.text-center{
    text-align: center;
}

.subtitle{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 0px 150px;
}

.btn-primary{
border-radius: 8px;
background: rgb(13, 19, 33);
color: white;
padding: 21px 24px;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}



#why-web{
    display: flex;
    width: 1140px;
    height:auto;
    background: rgba(13, 19, 33, 0.02);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    margin: 75px auto;
}

.why-body{
    padding: 80px 97px;
}

.title-part{
    margin-bottom: 48px;
}

.why-title{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;

}


.column-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
margin-bottom: 12px;
}

.column-subtitle{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;

}

.common-button{

color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
padding: 12px 20px 12px 20px;
}

.column{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
padding: 48px 48px ;
margin-bottom: 32px;
}

.column-space-around{
    justify-content: space-around;
}

#inspiration{
    display: flex;
    width: 1140px;
    height:auto;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}

.ins-title-part{
   margin-bottom: 48px;
   padding: 0px 144px;
}

.youtube-video{
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 30px;
}


#current-target{

    display: flex;
    width: 1140px;
    height:auto;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

.current-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.current-subtitle{
    color: rgb(13, 19, 33,0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding: 0px 160px;
}
.card1{

    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
padding: 40px;
margin-right: 24px;
}

.card2{
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
padding: 40px;
margin-right: 24px;
}

.card3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
padding: 40px;

}


.card-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;


}

.card-sub-title{

    color: rgb(13, 19, 33,0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.ref-line{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.cards{
    display: flex;
   
    justify-content:space-around
}


#support{
    display: flex;
    width: 1140px;
    height: 400px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(../images/handshake.jpg);
    /* background-image: url("../images/handshake.jpg"); */
    background-size: cover;
    background-position: center;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    justify-content: center;
    border-radius: 16px;
    
}

.support-title{
 color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
}


.support-subtitle{
color: rgb(255, 255, 255,0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin: 0px;
}

input[type="text"]{
    display: inline-block;
    height: 20px;
    border-radius: 5px;
    width: 350px;
    border: none;
    padding: 20px;
    color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
margin-right: 3px;
}

input[type="submit"]{

    display: inline-block; ;
    height: 58px;
    border-radius: 5px;
    width: 100px;
    border: none;
    padding: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

